# Dependencias
node_modules

# Build outputs
dist

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
.env.*

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Docker
dockerfile
Dockerfile
docker-compose*.yml
.dockerignore

# Otros
README.md
LICENSE
*.md

